*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
.img1{
    overflow: hidden;
    width: 100%;
    height: 100svh;
}

.klocka-container{
    position: relative;
}
.klocka{
    width: 50svh;
    height: 50svh;
    position: absolute;
    border: 5px solid red;
    border-radius: 50%;
    top: 12svh;
    left: 80svh;
    z-index: 100;
    background: grey;
}

.min{
    font-size: 100px;
    top: 90px;
    left: 50px;
    position: absolute;
    color: white;

}
.sec{
    font-size: 100px;
    top: 90px;
    left: 180px;
    position: absolute;
    color: white;
}

.komma{
    font-size: 100px;
    top: 85px;
    left: 125px;
    position: absolute;
    color: white;
}
